<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.maxplus.dao.UserDao">  
  
   	<resultMap type="user" id="map">  
        <id property="id" column="id"/>    
        <result property="code" column="code"/>  
        <result property="name" column="name"/>  
        <result property="password" column="password"/>  
    </resultMap>
       
    <!-- resultType user map总配置文件的typeAlias的ID / resultMap 配置的resultMap的ID-->
    <select id="getUser" parameterType="String" resultMap="map">
          SELECT * from User 
          WHERE id = #{id}
    </select>
    
    
    <insert id="addUser" parameterType="user">
    	insert into User(id,code,name,password) values(#{id},#{code},#{name},#{password});
    </insert>
    
    <update id="updateUser" parameterType="user">
<!--     	update User  -->
    	
<!--     	set  -->
<!--     	code=#{code}, -->
<!--     	name=#{name}, -->
<!--     	password=#{password}  -->
<!--     	where id = #{id} -->
			update User 
			<set>
				<if test="null != code and '' != code">
					code=#{code},
				</if>
				<if test="null != name and '' != name">
					name=#{name},
				</if>
				<if test="null != password and '' != password">
					password=#{password}
				</if>
			</set>
			<where>
				id=#{id}
			</where>
    </update>
       
</mapper>  
